<!DOCTYPE html>
<html>
<head>
  <title>Babbitt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<!-- fix this later -->
  <%#= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
